<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="list_wrapper">
      <div class="list-title | text-align-centre">
        <p class="the_day"><%= the_day %></p>
        <hr />
      </div>
      <div class="list_main">
        <div class="edit_button_line">
          <button class="button_edit">Edit</button>
        </div>
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <div class="list_line | padding_block">
          <ul class="taskList">
            <li>
              <!-- <div class="li_sub_wrapper">
                <input type="checkbox" id="item1" />
                <label for="item1">Wake-Up</label>
              </div>
            </li>-->
            </li>
          </ul>
        </div>

        <div class="interaction_line">
          <button class="button_delete" style="display: none">Delete</button>
          <input
            class="idinput"
            type="text"
            id="taskInput"
            placeholder="Enter a new task"
          />
          <button class="button_add">Add +</button>
        </div>
      </div>
      <div>
        <!-- <button class="button_exit">← Back to Calendar</button> -->
        <a href="/" class="button_exit">← Back to Calendar </a>
      </div>
    </div>

    <script src="/list.js"></script>
  </body>
</html>
