<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="list_wrapper">
      <div class="list-title | text-align-centre">
        <p class="the_day"><%= the_day %></p>
        <hr />
      </div>
      <div class="list_main">
        <div class="edit_button_line">
          <button class="button_edit">Edit</button>
        </div>
        <div class="dot-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <form id="atlas_update_Form" action="/list" method="POST">
          <div class="list_line | padding_block">
            <ul class="taskList">
              <% atlasrespond.forEach((element, index) => { %>
              <li>
                <div class="li_sub_wrapper">
                  <!-- <input type="text" name="name" value="text" id="name" /> -->
                  <input type="checkbox" id="item<%= index + 1 %>" />
                  <label for="item<%= index + 1 %>"><%= element %></label>
                </div>
              </li>
              <% }); %>
            </ul>
          </div>
        </form>

        <div class="interaction_line">
          <button class="button_delete" style="display: none">Delete</button>
          <input
            class="idinput"
            type="text"
            id="taskInput"
            placeholder="Enter a new task"
          />
          <button class="button_add">Add +</button>
        </div>
      </div>
      <div>
        <!-- <button class="button_exit">← Back to Calendar</button> -->
        <!-- <a type="submit" form="atlas_update_Form"   class="button_exit">← Back to Calendar </a> -->
        <button type="submit" class="button_exit" form="atlas_update_Form">
          ← Back to Calendar
        </button>
      </div>
    </div>

    <script src="/list.js"></script>
  </body>
</html>
